@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAE7F2;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #06053F;
}

header {
    background-color: #06053F;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

#video-apresentacao {
    padding: 40px 20px;
    text-align: center;
    background-color: #EAE7F2;
    color: black;
}

#video-apresentacao video {
    max-width: 800px;
    width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: block;
}

section#projetos {
    padding: 40px 20px;
    background-color: #EAE7F2;
}

.projeto {
    background-color: #ffffff;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.projetos h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.projeto h3 {
    color: black;
    margin-bottom: 15px;
    font-weight: 600;
}

.projeto img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #06053F;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* Aumentando o padding */
    position: relative;
    width: 100%;
}

@media (max-width: 768px) {

    #video-apresentacao,
    section#projetos {
        padding: 20px 10px;
    }

    .projeto {
        padding: 20px;
    }
}
